<form action="/thankyou" method="post" name="testForm">

    <fieldset>

        <legend>Personal information:</legend>

        First name:<br>
        <input type="text" name="firstname" id="firstname"><br>

        Last name:<br>
        <input type="text" name="lastname" id="lastname"><br><br>

        <input type="submit" value="Submit" id="button">

    </fieldset>

</form>